<header class="row bg-dark p-3 mx-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">
        <img src="../assets/images/logo.png" alt="Accenture" class="w-50" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/insights">Insight</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" routerLink="/services">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#" routerLink="/services/supply-chain">Supply Chain</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/services/banking">Banking</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/services/ai">Artificial Intelligence</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/services/business-strategy">Business Strategy</a></li>
            </ul>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" href="#" routerLink="/industries">Industries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/posts">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/rxjs-operators">RxJs Operators</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
