<mat-card class="customCssForCard">
  <mat-card-header>
    <div mat-card-avatar class="mat-header-image"></div>
    <mat-card-title>Angular Training</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../../assets/images/angular.png" alt="Angular" />
  <mat-card-content>
    <p>Angular is a TypeScript-based open-source web application framework led by the Angular Team at Google and by a
      community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Explore</button>
    <button mat-raised-button color="warn">Add To Cart</button>
  </mat-card-actions>
</mat-card>

