<section class="container">
  <section class="row" [ngSwitch]="angularversion">
    <h3>Example for ngSwitch - Directive</h3>
    <section class="col-md-3" *ngSwitchCase="'angular2'">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/images/angular.png" class="card-img-top" alt="Supply Chain">
        <div class="card-body">
          <h5 class="card-title">Angular 2.0</h5>
          <p class="card-text">2.0</p>
          <a href="#" class="btn btn-primary" [ngStyle]="{'background-color': 'red'}">
            Explore</a>
        </div>
      </div>
    </section>
    <section class="col-md-3" *ngSwitchCase="'angular4'">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/images/angular.png" class="card-img-top" alt="Supply Chain">
        <div class="card-body">
          <h5 class="card-title">Angular 4.0</h5>
          <p class="card-text">4.0</p>
          <a href="#" class="btn btn-primary" [ngStyle]="{'background-color': isgold ? 'red' : 'gold' }">
            Explore</a>
        </div>
      </div>
    </section>
    <section class="col-md-3" *ngSwitchCase="'angular8'">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/images/angular.png" class="card-img-top" alt="Supply Chain">
        <div class="card-body">
          <h5 class="card-title">Angular 8.0</h5>
          <p class="card-text">8.0</p>
          <a href="#" class="btn btn-primary" [ngStyle]="{'background-color': 'red'}">
            Explore</a>
        </div>
      </div>
    </section>
    <section class="col-md-3" *ngSwitchDefault>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/images/angular.png" class="card-img-top" alt="Supply Chain">
        <div class="card-body">
          <h5 class="card-title">Angular 12.0</h5>
          <p class="card-text">12.0</p>
          <a href="#" class="btn btn-primary" [ngStyle]="{'background-color': 'red'}">
            Explore</a>
        </div>
      </div>
    </section>
    <section class="col-md-3">
      <img src="../../assets/images/angular-icon.png" appRotateAnimation alt="Angular Icon" />
    </section>
  </section>
</section>

<section class="container">
  <section class="row">
    <h3>Example for Custom For Loop - Directive</h3>
    <section class="col-md-3" *appCustomLoop="8">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/images/angular.png" class="card-img-top" alt="Supply Chain">
        <div class="card-body">
          <h5 class="card-title">Angular 2.0</h5>
          <p class="card-text">2.0</p>
          <a href="#" class="btn btn-primary" [ngStyle]="{'background-color': 'red'}">
            Explore</a>
        </div>
      </div>
    </section>
