<section class="container">
  <section class="row">
    <h1>List of Posts
      <span class="fa fa-plus-circle float-end" role="button" (click)="createPost()" title="Create new post"></span>
    </h1>
    <section class="col-md-3" *ngFor="let service of posts | async,trackBy: trackByFn">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{service.title}}</h5>
          <p class="card-text">{{service.body}}</p>
          <a href="#" routerLink="post-details/{{service.id}}" class="btn btn-primary" id="{{service.title}}"
            [ngStyle]="{'background-color': 'red'}">Go
            Explore</a>
        </div>
      </div>
    </section>
    <button (click)="stopClick()">DetachClick</button>
  </section>
</section>
